@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  background-color: #FBF8F4;
  color: #2B2622;
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-heading), sans-serif;
  font-weight: 600;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

